  <h1><%= @issue.issue_date %></h1>
  <h2>Issue Plan</h2>
  <ul>
    <% @issue.bookings.each do |b| %>
    <li>Booking Number: <td><%= link_to "#{b.booking_number}", b %></td></li>
    <li>Booking Status: <%=b.status %></li>
    <br/>
    <% end %>
  </ul>

  <%= link_to 'Back', issues_path, :class => "btn btn-primary" %>
