
<div class="jumbotron">
  <h1>Welcome to the ADCManager</h1>
  <p class="lead">With more classified pages than any other medical publication, Australian Doctor classifieds is a must for advertising your course or conference, position(s) available across the nation and anything else worth buying or selling! The ADC Manager will assist you with coordinating your campaign.</p>
  <p><%= link_to "Create an account", '/users/sign_up', :class => "btn btn-lg btn-success" %></p>
</div>

<div class="row marketing">
  <div class="col-lg-4">
    <h4>Bookings</h4>
    <p>Create, edit or view all details of a particular campagin.</p>

    <h4>Clients</h4>
    <p>Search for clients currently listed in the database.</p>
  </div>

  <div class="col-lg-4">
    <h4>Tearsheets</h4>
    <p>Download pages and email direct to client.</p>

    <h4>Quotes</h4>
    <p>Manage estimates for current and potential clients.</p>
  </div>

  <div class="col-lg-4">
    <h4>Creative</h4>
    <p>Coordinate Material instructions for advertising.</p>

    <h4>Issues</h4>
    <p>Inspect issue plans for current and previous editions.</p>
  </div>
</div>





